<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="DevExpress NuGet Feed"
			 value="https://nuget.devexpress.com/HrpG67FkpdaW3PRwMTtfGswoSJS29L32ZOmoOAquqJiIklEkOV/api" />
    <add key="TNTPack" value="https://nuget.tntsoftware.ro/v3/index.json" />
  </packageSources>
  <apikeys>
    <add key="https://nuget.tntsoftware.ro/v3/index.json" value="bp7HJyYQV5cM6WPJxC1QNDlTKu76mbPH0FvUjAfS9xDwXFboRAFDpaiDwVI4AEdhgb5c7tWBaTqWrd6wh1NFjOitJWQka22vtgtgLzJ1qy7FRMFJR5O2FCsFltW6IsOQQlm0tPAtHnXiX8bNQuiSrF9Q6j09T8OEutB9cNbz1NMqINrf3Xaxa12Oj5THszIOMPC3rPiEBJ0y1mKCmLP8WtRzZSfZXaSPR3reFO25xT1vwJm0Y6Gd5B4El5anvmPc" />
  </apikeys>
</configuration>